In [1]:
import pandas as pd
df=pd.read_csv('c:/data/traffic/data.csv',encoding='ms949')
df.head()

,호선,역번호,역 명,계,일평균,1월,2월,3월,4월,5월,6월,7월
0,1,150,서울역(1),19799600,93562,2823972,2542481,2885932,2918104,2993718,2770656,2864737
1,1,151,시청(1),9478426,44701,1367861,1114504,1380702,1432476,1460584,1334755,1387544
2,1,152,종각,16783116,78856,2529090,2098588,2445715,2433679,2496189,2269648,2510207
3,1,153,종로3가(1),11553939,54481,1729440,1465221,1692299,1638929,1734230,1600924,1692896
4,1,154,종로5가,10379864,49299,1532069,1303823,1558679,1532793,1571939,1423812,1456749

In [2]:
df2=df.iloc[:,3:12] #모든 행, 3~11열
#기초통계량
df2.describe()

,계,일평균,1월,2월,3월,4월,5월,6월,7월
count,2.880000e+02,288.000000,2.880000e+02,2.880000e+02,2.880000e+02,2.880000e+02,2.880000e+02,2.880000e+02,2.880000e+02
mean,5.491737e+06,25914.190972,7.807080e+05,6.649665e+05,8.136008e+05,8.205614e+05,8.433722e+05,7.672591e+05,8.012688e+05
std,4.577365e+06,21553.034548,6.739985e+05,5.781245e+05,6.723024e+05,6.665224e+05,6.855378e+05,6.304334e+05,6.776332e+05
min,3.072020e+05,1429.000000,3.648900e+04,3.325400e+04,4.640200e+04,4.791400e+04,4.845500e+04,4.629300e+04,4.839500e+04
25%,2.641664e+06,12176.250000,3.462888e+05,2.965675e+05,3.729890e+05,3.781295e+05,4.006558e+05,3.637908e+05,3.800970e+05
50%,4.287678e+06,20260.500000,5.955250e+05,5.089835e+05,6.450845e+05,6.564945e+05,6.791040e+05,5.981110e+05,6.103110e+05
75%,6.549678e+06,31115.250000,9.412722e+05,7.976460e+05,9.684600e+05,9.772028e+05,9.963918e+05,9.032735e+05,9.695805e+05
max,3.050288e+07,142123.000000,4.749571e+06,3.901121e+06,4.367422e+06,4.234069e+06,4.365377e+06,4.106734e+06,4.778586e+06

In [3]:
#열의 평균
df2["1월"].mean()

780708.0381944445

In [4]:
#세로 방향 합(각 열의 합)
df2.sum(axis=0)

계      1581620198
일평균       7463287
1월      224843915
2월      191510348
3월      234317028
4월      236321689
5월      242891189
6월      220970623
7월      230765406
dtype: int64

In [5]:
#가로 방향 합(각 행의 합)
df2.sum(axis=1)

0      39692762
1      19001553
2      33645088
3      23162359
4      20809027
         ...
283     2655148
284     1386025
285     5361301
286      615833
287     4957469
Length: 288, dtype: int64

In [6]:
#열의 분산(평균으로부터 얼마나 떨어져 있는 지)
df2["1월"].var()

454274023051.7722

In [15]:
# 람다식: x가 입력되면 최대값에서 최소값을 뺀 값을 리턴
f1=lambda x:x.max()-x.min()
#데이터프레임의 각 열(세로방향)에 f1함수 적용
df2.apply(f1,axis=0) # 세로 방향으로 f1 함수 실행

계      30195678
일평균      140694
1월      4713082
2월      3867867
3월      4321020
4월      4186155
5월      4316922
6월      4060441
7월      4730191
dtype: int64

In [10]:
#데이터프레임의 각 행(가로방향)에 f1 함수 적용
df2.apply(f1,axis=1) # 가로 방향으로 f1 함수 실행

0      19706038
1       9433725
2      16704260
3      11499458
4      10330565
         ...
283     1318355
284      688169
285     2662337
286      305773
287     2461600
Length: 288, dtype: int64