In [6]:
# 사이킷런 패키지의 샘플 데이터셋 활용
from sklearn import datasets
iris=datasets.load_iris()
#print(iris)
#변수명 확인
print(iris['feature_names'])
#sepal 꽃받침, petal 꽃잎

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [7]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [8]:
import numpy as np
import pandas as pd
# c_[A,B] A,B를 결합            [자료]
df=pd.DataFrame(data=np.c_[iris.data,iris.target], columns=iris['feature_names']+['target'])
print(df.head())
df['target']=df['target'].map({0:'setosa', 1:'versicolor', 2:'virginica'})
print(df.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

In [9]:
df.to_csv('c:/data/iris/iris.csv', index=False) #csv export

In [10]:
# 독립변수
X=df.iloc[:,:-1] #[모든행, 마지막 필드 제외]
# 종속변수
y=df.iloc[:,[-1]] #[모든행, 마지막 필드만]

In [11]:
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [12]:
y

        target
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

In [13]:
arr=X.mean()
arr

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64

In [14]:
#결과를 csv파일로 저장                              구분자
np.savetxt("c:/data/iris/avg.csv",arr,fmt="%.1f",delimiter=",")
#파일이 만들어졌는지 확인

PermissionError: [Errno 13] Permission denied: 'c:/data/iris/avg.csv'

In [16]:
#결과를 mysql table로 저장
from sqlalchemy import create_engine
#create database myweb
engine = create_engine("mysql+mysqldb://web:1234@localhost/myweb",encoding='utf-8')
df.columns=['sepal_length','sepal_width','petal_length',
'petal_width','target']
conn=engine.connect()
#replace:테이블삭제후저장,append:레코드추가
#fail:실패,기본동작
df.to_sql(name="iris",con=engine,if_exists='replace',index=False)