In [1]:
import sqlite3
print(sqlite3.version)
print(sqlite3.sqlite_version)

2.6.0
3.36.0

In [2]:
def create():
    conn = sqlite3.connect('books.db') #파일이 없으면 생성, 있으면 불러옴
    cursor=conn.cursor() #커서: sql 명령어를 실행시키는 객체
    cursor.execute('''
    create table if not exists books (
        title text,
        publish_date text,
        publisher text,
        pages integer,
        recommend integer
        )
    ''') #sql 명령어 실행, 테이블이 없으면 만들어짐
    conn.close() #커넥션 닫기

In [3]:
create()

In [4]:
def insert():
    conn = sqlite3.connect('books.db')
    cursor=conn.cursor()
    cursor.execute("insert into books values ('java', '2022-01-01', '길벗', 500, 10)")
    sql='insert into books values (?,?,?,?,?)' #파라미터를 사용하는 방법
    cursor.execute(sql, ('python', '2022-03-04','한빛', 584, 20))
    items=[
        ('빅데이터', '2022-0702', '삼성', 296,11),
    ('안드로이드', '2022-08-02', '영진', 526, 20), 
    ('스프링', '2022-09-02', '에이콘', 248,15)
    ]
    cursor.executemany(sql, items) #리스트로 전달하는 방법
    conn.commit() #DDL의 변경사항 확정
    conn.close()

In [5]:
insert()

In [7]:
def list():
    conn=sqlite3.connect('books.db')
    cursor=conn.cursor()
    cursor.execute('select*from books')
    books=cursor.fetchall() #커서가 
    for book in books:
        print(book)
    conn.close()

In [8]:
def update():
    conn=sqlite3.connect('books.db')
    cursor=conn.cursor()
    sql='update books set recommend=? where title=?'
    cursor.execute(sql, (100, 'java'))
    conn.commit()
    conn.close()

In [9]:
update()
list()

('java', '2022-01-01', '길벗', 500, 100)
('python', '2022-03-04', '한빛', 584, 20)
('빅데이터', '2022-0702', '삼성', 296, 11)
('안드로이드', '2022-08-02', '영진', 526, 20)
('스프링', '2022-09-02', '에이콘', 248, 15)

In [10]:
def delete():
    conn=sqlite3.connect('books.db')
    cursor=conn.cursor()
    #sql="delete from books where publisher='삼성'"
    sql='delete from books'
    cursor.execute(sql)
    conn.commit()
    conn.close()

In [11]:
list()
delete()
print('='*50)
list()

('java', '2022-01-01', '길벗', 500, 100)
('python', '2022-03-04', '한빛', 584, 20)
('빅데이터', '2022-0702', '삼성', 296, 11)
('안드로이드', '2022-08-02', '영진', 526, 20)
('스프링', '2022-09-02', '에이콘', 248, 15)
==================================================