In [8]:
import pandas as pd
df=pd.read_csv('c:/data/iris/iris.csv')
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth    Name  Species
0          5.1         3.5          1.4         0.2  setosa        0
1          4.9         3.0          1.4         0.2  setosa        0
2          4.7         3.2          1.3         0.2  setosa        0
3          4.6         3.1          1.5         0.2  setosa        0
4          5.0         3.6          1.4         0.2  setosa        0

In [1]:

from sqlalchemy import create_engine
import cx_Oracle
engine=create_engine('oracle+cx_oracle://hr:hr@xe')
conn=engine.connect()
df.to_sql(name='iris', con=engine, if_exists='replace', index=False)

NameError: name 'df' is not defined