In [2]:
import pymongo
from pymongo import MongoClient

In [3]:
#인증모드로 몽고디비에 접속
conn=MongoClient('mongodb://web:1234@localhost/web')
conn

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
db=conn.web #데이터베이스 정보
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'web')

In [5]:
#컬렉션 생성
students=db.students #컬렉션(테이블) 정보
students

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'web'), 'students')

In [6]:
#컬렉션에 저장된 모든 문서들 제거
try:
    students.drop() #모든 도큐먼트(레코드) 삭제
except:
    print('자료가 없습니다.')

In [7]:
#도큐먼트 생성{key,value}
row1={'no':1, 'name':'김철수', 'kor':90, 'eng':80, 'mat':77}
row2={'no':2, 'name':'박민성', 'kor':95, 'eng':83, 'mat':76}
row3={'no':3, 'name':'송영희', 'kor':92, 'eng':87, 'mat':75}
#레코드 1개 추가
students.insert_one(row1)
students.insert_one(row2)
students.insert_one(row3)
#전체 문서 조회
rows=students.find()
for row in rows:
    print(row)

{'_id': ObjectId('6279d43ced197dc2c5d5e09c'), 'no': 1, 'name': '김철수', 'kor': 90, 'eng': 80, 'mat': 77}
{'_id': ObjectId('6279d43ced197dc2c5d5e09d'), 'no': 2, 'name': '박민성', 'kor': 95, 'eng': 83, 'mat': 76}
{'_id': ObjectId('6279d43ced197dc2c5d5e09e'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75}

In [8]:
#개별 문서 수정
students.update_one({'no':1}, {'$set':{'kor':100, 'eng':100}})
rows=students.find()
for row in rows:
    print(row)

{'_id': ObjectId('6279d43ced197dc2c5d5e09c'), 'no': 1, 'name': '김철수', 'kor': 100, 'eng': 100, 'mat': 77}
{'_id': ObjectId('6279d43ced197dc2c5d5e09d'), 'no': 2, 'name': '박민성', 'kor': 95, 'eng': 83, 'mat': 76}
{'_id': ObjectId('6279d43ced197dc2c5d5e09e'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75}

In [9]:
rows=students.find()
for row in rows:
    tot=row['kor']+row['eng']+row['mat']
    avg=tot/3
    if avg>=90:
        grade='A'
    elif 80<=avg<90:
        grade='B'
    elif 70<=avg<80:
        grade='C'
    elif 60<=avg<70:
        grade='D'
    else:
        grade='F'
    students.update_one({'no':row['no']}, {'$set':{'tot':tot, 'avg':avg, 'grade':grade}})
    rows=students.find()
    for row in rows:
        print(row)

{'_id': ObjectId('6279d43ced197dc2c5d5e09c'), 'no': 1, 'name': '김철수', 'kor': 100, 'eng': 100, 'mat': 77, 'avg': 92.33333333333333, 'grade': 'A', 'tot': 277}
{'_id': ObjectId('6279d43ced197dc2c5d5e09d'), 'no': 2, 'name': '박민성', 'kor': 95, 'eng': 83, 'mat': 76}
{'_id': ObjectId('6279d43ced197dc2c5d5e09e'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75}
{'_id': ObjectId('6279d43ced197dc2c5d5e09c'), 'no': 1, 'name': '김철수', 'kor': 100, 'eng': 100, 'mat': 77, 'avg': 92.33333333333333, 'grade': 'A', 'tot': 277}
{'_id': ObjectId('6279d43ced197dc2c5d5e09d'), 'no': 2, 'name': '박민성', 'kor': 95, 'eng': 83, 'mat': 76, 'avg': 84.66666666666667, 'grade': 'B', 'tot': 254}
{'_id': ObjectId('6279d43ced197dc2c5d5e09e'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75}
{'_id': ObjectId('6279d43ced197dc2c5d5e09c'), 'no': 1, 'name': '김철수', 'kor': 100, 'eng': 100, 'mat': 77, 'avg': 92.33333333333333, 'grade': 'A', 'tot': 277}
{'_id': ObjectId('6279d43ced197dc2c5d5e09d'), 'no': 2, 'name': '박민성', 'kor': 95, 'eng': 83, 'mat': 76, 'avg': 84.66666666666667, 'grade': 'B', 'tot': 254}
{'_id': ObjectId('6279d43ced197dc2c5d5e09e'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75, 'avg': 84.66666666666667, 'grade': 'B', 'tot': 254}

In [16]:
rows=students.find()
print('학번\t이름\t국어\t영어\t수학\t총점\t평균\t등급')
print('='*60)
for row in rows:
    print(f"{row['no']}\t{row['name']}\t{row['kor']}\t{row['eng']}\t{row['mat']}\t{row['tot']}\t{row['avg']:.1f}\t{row['grade']}")

학번	이름	국어	영어	수학	총점	평균	등급
============================================================
1	김철수	100	100	77	277	92.3	A
2	박민성	95	83	76	254	84.7	B
3	송영희	92	87	75	254	84.7	B

In [15]:
print('조건 검색')
myrow=students.find({'no':3}) #조건 검색
for field in myrow:
    print(field)

조건 검색
{'_id': ObjectId('6279d43ced197dc2c5d5e09e'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75, 'avg': 84.66666666666667, 'grade': 'B', 'tot': 254}