In [16]:
#index, value
for i, num in enumerate([10,20,30,40,50]):
    print(i, num)

0 10
1 20
2 30
3 40
4 50

In [17]:
fruits=['사과','배','수박','바나나','포도']
#리스트의 아이템 사이에 구분자를 추가하여 하나의 문자열로 변환
print(','.join(fruits))

사과,배,수박,바나나,포도

In [18]:
a=len('python') #글자수
print(a)
b=len([1,2,3])
print(b)
c=len((1,'a'))
print(c)

6
3
2

In [19]:
a='사과,배,수박,바나나,포도'
#구분자로 나누어 리스트로 만들려면?
b=a.split(',') #리스트를 컴머 단위로 끊어서 리스트로 전환
b

['사과', '배', '수박', '바나나', '포도']

In [20]:
fruits=['사과','배','수박','바나나','포도']
print(','.join(fruits))
print('/'.join(fruits))
print('\n'.join(fruits))

사과,배,수박,바나나,포도
사과/배/수박/바나나/포도
사과
배
수박
바나나
포도

In [14]:
#def 함수이름(전달값)
def calc(x):
    return x*2
#map(함수이름, 전달할 값)
list(map(calc, [1,2,3,4])) #함수가 반복적으로 호출됨

[2, 4, 6, 8]

In [23]:

#map(함수이름, 전달할 값)
list(map(calc, [1,2,3,4])) #함수가 반복적으로 호출됨

[2, 4, 6, 8]

In [29]:
def plus(x):
    return x+1
a=[]
for i in range(1,6):
    a.append(plus(i))
a

[2, 3, 4, 5, 6]

In [25]:
list(map(plus, [1,2,3,4,5]))

[2, 3, 4, 5, 6]

In [39]:
def mysum(x):
    #합계 계산, 리턴
    a=0
    for i in range(1,x+1):
        a+=i
    return a
mysum(100)

5050

In [42]:
a=[]
for i in [100,200,300,400,500]:
    a.append(mysum(i))
a

[5050, 20100, 45150, 80200, 125250]

In [43]:
list(map(mysum, [100,200,300,400, 500]))

[5050, 20100, 45150, 80200, 125250]

In [45]:
names=['김철수','박철호', '최정호', '이철수', '홍찬수']
points=[100,80,70,60,90]
#같은 인덱스끼리 조합
list(zip(names, points))

[('김철수', 100), ('박철호', 80), ('최정호', 70), ('이철수', 60), ('홍찬수', 90)]

In [49]:
names=['김철수','박철호', '최정호', '이철수', '홍찬수']
points=[100,80,70,60,90]
#같은 인덱스끼리 조합
for (names, points) in list(zip(names, points)):
    print('이름:', names, ', 점수: ', points)

이름: 김철수 , 점수:  100
이름: 박철호 , 점수:  80
이름: 최정호 , 점수:  70
이름: 이철수 , 점수:  60
이름: 홍찬수 , 점수:  90

In [50]:
def say():
    print('Hi')
say() #함수호출

Hi

In [51]:
def hello(name):
    print('hello, ', name)
hello('kim')
a=hello('kim') #리턴값이 없음
print(a) #변수가 가리키는 값이 없는 경우 None

hello,  kim
hello,  kim
None

In [53]:
def mysum(a,b):
    return a+b #리턴
a=3
b=4
mysum(a,b) #함수에 2개의 값 전달

7

In [1]:
def a():
    return 1,2,3,4,5 #여러개가 아닌 1개의 튜플로 리턴됨/소괄호:튜블(생략됨)
a()

(1, 2, 3, 4, 5)

In [2]:
#좌변의 변수가 여러개가 아닌 1개의 튜플
a,b,c,d,e=a()
a,b,c,d,e

(1, 2, 3, 4, 5)

In [6]:
#함수로 딕셔너리 반환
def set_person(name, job, age=''): #변수=기본값(전달값이 없는 경우에 사용됨)
    person={'name': name, 'job': job}
    if age: #빈값이 아니면
        person['age']=age #딕셔너리에 변수 추가
    #딕셔너리를 리턴
    return person

In [7]:
set_person('김철수', '작가')

{'name': '김철수', 'job': '작가'}

In [8]:
set_person('김철수', '작가', 30)

{'name': '김철수', 'job': '작가', 'age': 30}

In [11]:
def greet(n): #n:리스트를 가리키는 변수
    for name in n:
        msg=name+'님 환영합니다.'
        print(msg)

In [12]:
names = ['김철호', '나철호', '송철호']
greet(names) #함수에 리스트 전달

김철호님 환영합니다.
나철호님 환영합니다.
송철호님 환영합니다.

In [13]:
a=1 #전역변수
def test(a): 
    a+=1 #지역변수
    
test(a)
print(a)

1

In [15]:
a=1
def test():
    global a #전역변수를 사용하는 옵션
    a+=1
test()
print(a)

2

In [17]:
name=input('이름을 입력하세요: ')
basic=int(input('기본급을 입력하세요: '))
bonus=basic*3
total=basic*12+bonus
tax=int(total*0.03)
money=total-tax
print(f'''
이름:{name}\n기본급:{basic: ,}\n보너스: {bonus: ,}\n총액: {total:,}\n세액:{tax:,}\n실수령액: {money:,}
''')

이름:김철수
기본급: 300
보너스:  900
총액: 4,500
세액:135
실수령액: 4,365